*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    height: auto;
    background-color: rgb(51, 205, 205);
    margin: 10% auto;
}

.book-list{
    width: 60%;
    overflow-y: auto;
    max-height: 200px;
    
}
.book-list ul{
    list-style: none;
    
}

.book-list ul li{
    padding-block: 5px;
}

.book-input{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 40%;
}

.book-input input{
    width: 100%;
    padding-block: 10px;

}
 
.book-input button{
    width: 30%;
    padding-block: 10px;
    
   align-self: flex-end;
    
}

.book{
   display: flex;
   justify-content: space-between; 
   border: 2px solid ;
}

.btn-remove{
    background-color: red;
    border-radius: 5px;
}